{% extends "base.html" %}

{% block head_title %}TISM{% endblock %}

{% block html_head_extra -%}
  <meta property="og:title" content="TISM" />
  <meta name="twitter:title" content="TISM" />

  <meta name="description" content="Community-owned social media — a safe home for Native, Queer, and Neurodivergent folks on Turtle Island." />
  <meta name="og:description" content="Community-owned social media — a safe home for Native, Queer, and Neurodivergent folks on Turtle Island." />
  <meta name="twitter:description" content="Community-owned social media — a safe home for Native, Queer, and Neurodivergent folks on Turtle Island." />

  <meta property="og:url" content="https://tism.social" />
  <meta name="twitter:url" content="https://tism.social" />
  <link rel="canonical" href="https://tism.social" />

  <meta property="og:image" content="https://tism.social/static/social-card-tism.png" />
  <meta property="twitter:image" content="https://tism.social/static/social-card-tism.png"  />

  <meta name="twitter:card" content="summary_large_image" />
{%- endblock %}

{% block noscript_extra %}
<p>This is the home page.
{% endblock %}
